@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 50px;
}
 
a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    white-space: pre-line;
    line-height: 2em;
}

.texto {
    background-color: white;
    padding: 30px 0px 70px 30px;
}


.parallax {
    max-width: 100vw;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
}

#p1 {
    background-image: url(imagens/background001.jpg);
}

#p2 {
    background-image: url(imagens/background002.jpg);
}

.texto-parallax {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.476);
    color: white;
    padding: 0px 5px;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    padding: 10px;
    text-align: center;
}